package transport

import (
	"github.com/bakeable/bkry/internal/server/transport/middleware"
{{- range . }}
    {{.EntityName}}_routes "github.com/bakeable/bkry/internal/server/transport/routes/{{.EntityName}}"
{{- end }}

	"github.com/gin-gonic/gin"
)

// InitRoutes initializes all routes for different models
func InitRoutes(r *gin.RouterGroup) {
	r.Use(gin.RecoveryWithWriter(gin.DefaultErrorWriter))
	r.Use(middleware.RecoveryWithWriter())

{{range . }}
	// Initialize routes for {{.EntityName}}
	{{.EntityName}}_routes.InitRoutes(r)
{{end }}

	// Initialize custom routes
	InitCustomRoutes(r)
}
