import { {{.TypeName}} } from './interface.gen'

export class {{.TypeName}}Handler {
    /// ///////////////////////////////////////
    /// /////////// CONSTRUCTOR ///////////////
    /// ///////////////////////////////////////

    private entity: {{.TypeName}}
    constructor(entity: {{.TypeName}}) {
        this.entity = entity
    }

    /// ///////////////////////////////////////
    /// ////////////// METHODS ////////////////
    /// ///////////////////////////////////////


    /// ///////////////////////////////////////
    /// /////////// STATIC METHODS ////////////
    /// ///////////////////////////////////////
}