import { type Validator } from '../../base_classes/dto_validator.d'

const validators: Validator[] = [
    {{- template "generateFieldValidator" .Fields }}
]

export default validators

{{- define "generateFieldValidator" }}
{{- range . }}
{{- if .IsRequired }}
    {
        field: '{{.JsonName}}',
        validator: 'not_falsy',
        errorMessage: '{{.JsonName}} is required'
    },
{{- end }}
{{- end }}
{{- end }}