package {{.EntityName}}_operations

import (
	{{.EntityName}} "github.com/bakeable/bkry/internal/server/models/entities/{{.PackagePath}}"
)


func afterQuery({{if gt (len .ParentParams) 0}}{{.ParentParams}}, {{end}}entities []{{.EntityName}}.{{.TypeName}}) []{{.EntityName}}.{{.TypeName}} {
	return entities
}