package {{.EntityName}}_operations

import (
	{{.EntityName}} "github.com/bakeable/bkry/internal/server/models/entities/{{.PackagePath}}"
)

func beforeSave({{if gt (len .ParentParams) 0}}{{.ParentParams}}, {{end}}entity {{.EntityName}}.{{.TypeName}}, editorID *string) {{.EntityName}}.{{.TypeName}} {
	// Return {{.TypeName}}
	return entity
}