package {{.EntityName}}

import "encoding/json"

// Decode converts a map to {{.TypeName}} struct
func Decode(m interface{}) {{.TypeName}} {
	var entity {{.TypeName}}
	data, err := json.Marshal(m)
	if err != nil {
		return entity
	}
	json.Unmarshal(data, &entity)
	return entity
}

// DecodeJSON converts a JSON string to {{.TypeName}} struct
func DecodeJSON(s string) {{.TypeName}} {
	var entity {{.TypeName}}
	json.Unmarshal([]byte(s), &entity)
	return entity
}

// DecodeAll converts a slice of interfaces to a slice of {{.TypeName}} struct
func DecodeAll(ms interface{}) []{{.TypeName}} {
	var entities []{{.TypeName}}
	data, err := json.Marshal(ms)
	if err != nil {
		return entities
	}
	json.Unmarshal(data, &entities)
	return entities
}
