package {{.EntityName}}

import "encoding/json"

// ToMap converts a {{.TypeName}} struct to a map
func ToMap(e {{.TypeName}}) map[string]interface{} {
    data, _ := json.Marshal(e)
    var m map[string]interface{}
    json.Unmarshal(data, &m)
    return m
}

// ToJSON converts a {{.TypeName}} struct to a JSON string
func ToJSON(e {{.TypeName}}) string {
    data, _ := json.Marshal(e)
    return string(data)
}