package {{.EntityName}}

{{- range .EnumValuesByType }}
type {{.EnumType}} string
{{- end }}

{{- if hasItems .Enums }}
const (
{{- end }}
    {{- range .Enums }}
    {{.EnumName}} {{.EnumType}} = "{{.EnumValue}}"
    {{- end }}
{{- if hasItems .Enums }}
)
{{- end }}