package {{.EntityName}}

{{- if hasItems .StructImports }}
import (
{{- range .StructImports }}
	"{{.}}"
{{- end }}
   "github.com/bakeable/bkry/internal/server/models/general/auditinfo"
)
{{- else }}
import "github.com/bakeable/bkry/internal/server/models/general/auditinfo"
{{- end }}

type {{.TypeName}} struct {
	// The unique identifier for the {{.TypeName}}
	ID string `json:"id"`
	// The audit information for the modification of the {{.TypeName}}
	Modified auditinfo.AuditInfo `json:"modified"`
	// The audit information for the creation of the {{.TypeName}}
	Created auditinfo.AuditInfo `json:"created"`
	{{- range .Fields}}
	{{- if .Description }}
	// {{.Description}}
	{{- end}}
	{{.FieldName}} {{if .IsArray}}[]{{end}}{{.FieldType}} `json:"{{.JsonName}}"`
	{{- end}}
}


{{template "generateChildStructs" .ChildStructs }}

{{define "generateChildStructs" }}
{{- range . }}

type {{.FieldType}} struct {
	{{- range .Fields }}
	// {{.Description}}
	{{.FieldName}} {{if .IsArray}}[]{{end}}{{.FieldType}} `json:"{{.JsonName}}"`
	{{- end }}
}
{{- end }}
{{end }}
