import { type EntityName, type EntityTypeName } from './types.gen.d';

export const entityCollectionNameToEntityName = Object.freeze({
{{- range .Entities}}
  {{.CollectionName}}: '{{.EntityName}}',
{{- end}}
})

export const entityNameToTypeName = Object.freeze({
{{- range .Entities}}
  {{.EntityName}}: '{{.TypeName}}' as EntityTypeName,
{{- end}}
})

export const entityTypeName: Record<EntityTypeName, EntityTypeName> = Object.freeze({
{{- range .Entities}}
  {{.TypeName}}: '{{.TypeName}}',
{{- end}}
})