{{- range .EntityStoreImports}}
{{.}}
{{- end}}
import { type EntityTypeName } from './types/types.gen.d';

const stores: Record<EntityTypeName, any> = {
{{- range .EntityStoreDefinitions }}
    {{.}}
{{- end}}
}
    

export default stores