{{- range .Entities}}
import { {{.TypeName}}, {{.TypeName}}List, create{{.TypeName}}Store } from './{{.EntityName}}'
{{- end}}
import { type JSONData } from "../base_classes/dto.d";
import {
  type EntityName,
  type EntityClass,
  type EntityTypeName,
} from '../types/types.gen.d';


const entityBuilder: Record<EntityName, ((pathVars?: any, data?: JSONData) => EntityClass)> = {
{{- range .Entities}}
  {{.EntityName}}: (
    pathVars?: string 
             | string[] 
             | { {{- range .ParentsSnakeCase}}{{.}}_id: string, {{- end}}id: string }, 
    data?: JSONData
  ) => new {{.TypeName}}(pathVars, data),
{{- end}}
}

const entityCollectionNameToEntityName: Record<string, EntityName> = Object.freeze({
{{- range .Entities}}
  {{.CollectionName}}: '{{.EntityName}}',
{{- end}}
})

const entityNameToTypeName: Record<EntityName, EntityTypeName> = Object.freeze({
{{- range .Entities}}
  {{.EntityName}}: '{{.TypeName}}',
{{- end}}
})

const entityTypeName: Record<EntityTypeName, EntityTypeName> = Object.freeze({
{{- range .Entities}}
  {{.TypeName}}: '{{.TypeName}}',
{{- end}}
})

export {
  entityBuilder,
  entityCollectionNameToEntityName,
  entityNameToTypeName,
  entityTypeName,
{{- range .Entities}}
  {{.TypeName}},
  {{.TypeName}}List,
  create{{.TypeName}}Store,
{{- end}}
}
