package {{.EntityName}}_routes

import (
	"github.com/gin-gonic/gin"
)

func InitCustomRoutes(r *gin.RouterGroup) {
	// Create custom routes for the {{.EntityName}} entity
	// group := r.Group("{{.Endpoint}}")

	// Add authentication middleware for all endpoints
	// group.Use(middleware.AuthenticatedRoutes())
}
